body {
    background-color: #242424;
    color: #f1f1f1;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px; /* Можно задать фиксированную ширину контейнера */
}
.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}
.login-container form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Задает равномерные отступы между элементами */
}
.login-container label {
    margin-bottom: 8px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px); /* Учитывает padding контейнера */
    padding: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444;
    color: #f1f1f1;
    margin: 0 10px; /* Отступы справа и слева */
}
.login-container input[type="submit"],
.login-container .register-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #555;
    color: #f1f1f1;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 10px; /* Равномерные отступы со всех сторон */
}
.login-container input[type="submit"]:hover,
.login-container .register-button:hover {
    background-color: #666;
}
.login-container .error-message,
.login-container .success-message {
    text-align: center;
    margin-top: 10px;
    padding: 0 10px; /* Учитывает padding контейнера */
}
.login-container .error-message {
    color: #ff4d4d;
}
.login-container .success-message {
    color: green;
}